<h1><a href="<%= post_url(@post) %>"><%= @post.title %></a> by <%= @post.author.username %></h1>

<h2>Content:</h2>
  <p><%= @post.content %></p>

<h2>Subs</h2>
  <ul>
    <% @post.subs.each do |sub|%>
      <li><a href="<%= sub_url(sub) %>"><%= sub.title %></a></li>
    <% end %>
  </ul>


<h3>Comments</h3>
<a href="<%=new_post_comment_url(@post)%>">Comment on this post!</a>
<br>

<ul>
  <% @all_comments[nil].each do |top_level_comment| %>
    <li><%= top_level_comment.author.username %> <%= top_level_comment.created_at %>
    <a href="<%=comment_url(top_level_comment)%>"><%= top_level_comment.content %></a></li>
    <%= render "comments/comment", parent_comment: top_level_comment%>
  <% end %>
</ul>


<a href="<%=edit_post_url(@post)%>">Edit</a>