<h1><a href="<%= post_url(@post) %>"><%= @post.title %></a> by <%= @post.author %></h1>

<h2>Content:</h2>
  <p><%= @post.content %></p>

<h2>Subs</h2>
  <ul>
    <li><%= @post.sub.title %></li>
  </ul>

