<h1><a href="<%= post_url(@post) %>"><%= @post.title %></a> by <%= @post.author.username %></h1>

<h2>Content:</h2>
  <p><%= @post.content %></p>

<h2>Subs</h2>
  <ul>
    <% @post.subs.each do |sub|%>
      <li><a href="<%= sub_url(sub) %>"><%= sub.title %></li>
    <% end %>
  </ul>
<a href="<%=edit_post_url(@post)%>">Edit</a>