<ul>
    <% @all_comments[parent_comment.id].each do |child_comment| %>
        <li><%= child_comment.author.username %> <%= child_comment.created_at %>
        <a href="<%=comment_url(child_comment)%>"><><%= child_comment.content %></a></li>
        <%= render "comments/comment", parent_comment: child_comment %>
    <% end %>
</ul>